<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> USERNAME </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
          </ng-container>
          <!-- fname Column -->
          <ng-container matColumnDef="fname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fname}} </td>
          </ng-container>
          <!--Last Name Column -->
          <ng-container matColumnDef="lname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let row"> {{row.lname}} </td>
          </ng-container>
          <!-- Middle name Column -->
          <ng-container matColumnDef="mname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
            <td mat-cell *matCellDef="let row"> {{row.mname}} </td>
          </ng-container>

          <!-- Enabled Column -->
          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enabled </th>
            <td mat-cell *matCellDef="let row"> {{row.enabled}} </td>
          </ng-container>

          <!-- Roles Column -->
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
            <td mat-cell *matCellDef="let row">
              <li type="1" *ngFor="let role of row.roles"> {{role.name}}</li>
            </td>
          </ng-container>

          <!-- accountNonExpired Column -->
          <ng-container matColumnDef="accountNonExpired">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Non-Expired </th>
            <td mat-cell *matCellDef="let row"> {{row.accountNonExpired}} </td>
          </ng-container>
          <!-- credentialsNonExpired Column -->
          <ng-container matColumnDef="credentialsNonExpired">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Credentials NonExpired </th>
            <td mat-cell *matCellDef="let row"> {{row.credentialsNonExpired}} </td>
          </ng-container>

          <!-- accountNonLocked Column -->
          <ng-container matColumnDef="accountNonLocked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account NonLocked </th>
            <td mat-cell *matCellDef="let row"> {{row.accountNonLocked}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
