<mat-card>
  <mat-card-title>
    Login </mat-card-title>
  <mat-card-content>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
        <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback">
          <div *ngIf="!!f.username.errors.required">Username is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
          <div *ngIf="!!f.password.errors.required">Password is required</div>
          <div *ngIf="!!f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </mat-form-field>
      <button [disabled]="loading" mat-raised-button color="primary">Submit</button>
      <button  [routerLink]="['roles']" mat-button color="basic">Roles</button>

      <!-- <img
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
      <button class="right-button"  [routerLink]="['/signup']" mat-button color="basic">Signup</button>

    </form>
  </mat-card-content>
  <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>

</mat-card>
